@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    text-decoration: none;
}


.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

li {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    background-color: #6415ff;
    color: #f7fafc;
    padding: 12px 32px 12px 32px; 
    border: none;
    font-weight: 600;
    font-size: 14px;
    border-radius: 9999px;
}

/* 

LANDING

*/

#landing {
    padding: 32px 32px 0 32px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__link {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 900;
    color: #243e63;
    width: auto;
}
   
.nav__img {
    height: 40px;
    width: 40px;
    margin: 0 12px 0 0;
}

.nav__links {
    display: flex;
}

.nav__link {
    margin-right: 48px;
    padding-bottom: 4px;
    font-size: 14px;
    font-weight: 600;
    color: #243e63;
}

.nav__link--login {
    margin: 0 24px 0 24px;
    font-size: 14px;
    font-weight: 600;
    color: #243e63
}

